:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: Arial, Helvetica, sans-serif;
    font: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0.6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0, 10em;
}

.descriçao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descriçao__texto {
    font-size: 24px;
    color: var(--branco-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descriçao {
    padding: 3em;
}

.download {
    padding: 5em 10%; /* Espaçamento interno para a seção */
}

.download__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* Espaço entre a imagem e o texto */
}

.download__imagem {
    width: 50%; /* Ajusta o tamanho da imagem proporcionalmente */
    max-width: 600px;
}

.download__conteudo {
    width: 40%;
}

.download__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.download__texto {
    font-size: 18px;
    color: #A9A9A9; /* Um tom de cinza para o texto secundário */
    line-height: 1.5;
}