:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
}